In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon_data.csv')

In [3]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
df['Name'][0:101]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
96                       Muk
97                  Shellder
98                  Cloyster
99                    Gastly
100                  Haunter
Name: Name, Length: 101, dtype: object

In [7]:
df[['Name' , 'Type 1', 'Attack']]

                      Name   Type 1  Attack
0                Bulbasaur    Grass      49
1                  Ivysaur    Grass      62
2                 Venusaur    Grass      82
3    VenusaurMega Venusaur    Grass     100
4               Charmander     Fire      52
..                     ...      ...     ...
795                Diancie     Rock     100
796    DiancieMega Diancie     Rock     160
797    HoopaHoopa Confined  Psychic     110
798     HoopaHoopa Unbound  Psychic     160
799              Volcanion     Fire     110

[800 rows x 3 columns]

In [8]:
#Shows the entire data in row number 0
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [9]:
df.iloc[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [92]:
#loc is used to display specific data of an index of row and column. here it shows row 1 and column 1 value
df.loc[1][1]

'Ivysaur'

In [11]:
#Iterating through all rows and printing stuff
for index, row in df.iterrows():
    print(index, row['Name'],row['HP'])

0 Bulbasaur 45
1 Ivysaur 60
2 Venusaur 80
3 VenusaurMega Venusaur 80
4 Charmander 39
5 Charmeleon 58
6 Charizard 78
7 CharizardMega Charizard X 78
8 CharizardMega Charizard Y 78
9 Squirtle 44
10 Wartortle 59
11 Blastoise 79
12 BlastoiseMega Blastoise 79
13 Caterpie 45
14 Metapod 50
15 Butterfree 60
16 Weedle 40
17 Kakuna 45
18 Beedrill 65
19 BeedrillMega Beedrill 65
20 Pidgey 40
21 Pidgeotto 63
22 Pidgeot 83
23 PidgeotMega Pidgeot 83
24 Rattata 30
25 Raticate 55
26 Spearow 40
27 Fearow 65
28 Ekans 35
29 Arbok 60
30 Pikachu 35
31 Raichu 60
32 Sandshrew 50
33 Sandslash 75
34 Nidoran (Female) 55
35 Nidorina 70
36 Nidoqueen 90
37 Nidoran (Male) 46
38 Nidorino 61
39 Nidoking 81
40 Clefairy 70
41 Clefable 95
42 Vulpix 38
43 Ninetales 73
44 Jigglypuff 115
45 Wigglytuff 140
46 Zubat 40
47 Golbat 75
48 Oddish 45
49 Gloom 60
50 Vileplume 75
51 Paras 35
52 Parasect 60
53 Venonat 60
54 Venomoth 70
55 Diglett 10
56 Dugtrio 35
57 Meowth 40
58 Persian 65
59 Psyduck 50
60 Golduck 80
61 Mankey 40
62 Primeape 65
63 Growlithe 55
64 Arcanine 90
65 Poliwag 40
66 Poliwhirl 65
67 Poliwrath 90
68 Abra 25
69 Kadabra 40
70 Alakazam 55
71 AlakazamMega Alakazam 55
72 Machop 70
73 Machoke 80
74 Machamp 90
75 Bellsprout 50
76 Weepinbell 65
77 Victreebel 80
78 Tentacool 40
79 Tentacruel 80
80 Geodude 40
81 Graveler 55
82 Golem 80
83 Ponyta 50
84 Rapidash 65
85 Slowpoke 90
86 Slowbro 95
87 SlowbroMega Slowbro 95
88 Magnemite 25
89 Magneton 50
90 Farfetch'd 52
91 Doduo 35
92 Dodrio 60
93 Seel 65
94 Dewgong 90
95 Grimer 80
96 Muk 105
97 Shellder 30
98 Cloyster 50
99 Gastly 30
100 Haunter 45
101 Gengar 60
102 GengarMega Gengar 60
103 Onix 35
104 Drowzee 60
105 Hypno 85
106 Krabby 30
107 Kingler 55
108 Voltorb 40
109 Electrode 60
110 Exeggcute 60
111 Exeggutor 95
112 Cubone 50
113 Marowak 60
114 Hitmonlee 50
115 Hitmonchan 50
116 Lickitung 90
117 Koffing 40
118 Weezing 65
119 Rhyhorn 80
120 Rhydon 105
121 Chansey 250
122 Tangela 65
123 Kangaskhan 105
124 KangaskhanMega Kangaskhan 105
125 Horsea 30
126 Seadra 55
127 Goldeen 45
128 Seaking 80
129 Staryu 30
130 Starmie 60
131 Mr. Mime 40
132 Scyther 70
133 Jynx 65
134 Electabuzz 65
135 Magmar 65
136 Pinsir 65
137 PinsirMega Pinsir 65
138 Tauros 75
139 Magikarp 20
140 Gyarados 95
141 GyaradosMega Gyarados 95
142 Lapras 130
143 Ditto 48
144 Eevee 55
145 Vaporeon 130
146 Jolteon 65
147 Flareon 65
148 Porygon 65
149 Omanyte 35
150 Omastar 70
151 Kabuto 30
152 Kabutops 60
153 Aerodactyl 80
154 AerodactylMega Aerodactyl 80
155 Snorlax 160
156 Articuno 90
157 Zapdos 90
158 Moltres 90
159 Dratini 41
160 Dragonair 61
161 Dragonite 91
162 Mewtwo 106
163 MewtwoMega Mewtwo X 106
164 MewtwoMega Mewtwo Y 106
165 Mew 100
166 Chikorita 45
167 Bayleef 60
168 Meganium 80
169 Cyndaquil 39
170 Quilava 58
171 Typhlosion 78
172 Totodile 50
173 Croconaw 65
174 Feraligatr 85
175 Sentret 35
176 Furret 85
177 Hoothoot 60
178 Noctowl 100
179 Ledyba 40
180 Ledian 55
181 Spinarak 40
182 Ariados 70
183 Crobat 85
184 Chinchou 75
185 Lanturn 125
186 Pichu 20
187 Cleffa 50
188 Igglybuff 90
189 Togepi 35
190 Togetic 55
191 Natu 40
192 Xatu 65
193 Mareep 55
194 Flaaffy 70
195 Ampharos 90
196 AmpharosMega Ampharos 90
197 Bellossom 75
198 Marill 70
199 Azumarill 100
200 Sudowoodo 70
201 Politoed 90
202 Hoppip 35
203 Skiploom 55
204 Jumpluff 75
205 Aipom 55
206 Sunkern 30
207 Sunflora 75
208 Yanma 65
209 Wooper 55
210 Quagsire 95
211 Espeon 65
212 Umbreon 95
213 Murkrow 60
214 Slowking 95
215 Misdreavus 60
216 Unown 48
217 Wobbuffet 190
218 Girafarig 70
219 Pineco 50
220 Forretress 75
221 Dunsparce 100
222 Gligar 65
223 Steelix 75
224 SteelixMega Steelix 75
225 Snubbull 60
226 Granbull 90
227 Qwilfish 65
228 Scizor 70
229 ScizorMega Scizor 70
230 Shuckle 20
231 Heracross 80
232 HeracrossMega Heracross 80
233 Sneasel 55
234 Teddiursa 60
235 Ursaring 90
236 Slugma 40
237 Magcargo 50
238 Swinub 50
239 Piloswine 100
240 Corsola 55
241 Remoraid 35
242 Octillery 75
243 Delibird 45
244 Mantine 65
245 Skarmory 65
246 Houndour 45
247 Houndoom 75
248 HoundoomMega Houndoom 75
249 Kingdra 75
250 Phanpy 90
251 Donphan 90
252 Porygon2 85
253 Stantler 73
254 Smeargle 55
255 Tyrogue 35
256 Hitmontop 50
257 Smoochum 45
258 Elekid 45
259 Magby 45
260 Miltank 95
261 Blissey 255
262 Raikou 90
263 Entei 115
264 Suicune 100
265 Larvitar 50
266 Pupitar 70
267 Tyranitar 100
268 TyranitarMega Tyranitar 100
269 Lugia 106
270 Ho-oh 106
271 Celebi 100
272 Treecko 40
273 Grovyle 50
274 Sceptile 70
275 SceptileMega Sceptile 70
276 Torchic 45
277 Combusken 60
278 Blaziken 80
279 BlazikenMega Blaziken 80
280 Mudkip 50
281 Marshtomp 70
282 Swampert 100
283 SwampertMega Swampert 100
284 Poochyena 35
285 Mightyena 70
286 Zigzagoon 38
287 Linoone 78
288 Wurmple 45
289 Silcoon 50
290 Beautifly 60
291 Cascoon 50
292 Dustox 60
293 Lotad 40
294 Lombre 60
295 Ludicolo 80
296 Seedot 40
297 Nuzleaf 70
298 Shiftry 90
299 Taillow 40
300 Swellow 60
301 Wingull 40
302 Pelipper 60
303 Ralts 28
304 Kirlia 38
305 Gardevoir 68
306 GardevoirMega Gardevoir 68
307 Surskit 40
308 Masquerain 70
309 Shroomish 60
310 Breloom 60
311 Slakoth 60
312 Vigoroth 80
313 Slaking 150
314 Nincada 31
315 Ninjask 61
316 Shedinja 1
317 Whismur 64
318 Loudred 84
319 Exploud 104
320 Makuhita 72
321 Hariyama 144
322 Azurill 50
323 Nosepass 30
324 Skitty 50
325 Delcatty 70
326 Sableye 50
327 SableyeMega Sableye 50
328 Mawile 50
329 MawileMega Mawile 50
330 Aron 50
331 Lairon 60
332 Aggron 70
333 AggronMega Aggron 70
334 Meditite 30
335 Medicham 60
336 MedichamMega Medicham 60
337 Electrike 40
338 Manectric 70
339 ManectricMega Manectric 70
340 Plusle 60
341 Minun 60
342 Volbeat 65
343 Illumise 65
344 Roselia 50
345 Gulpin 70
346 Swalot 100
347 Carvanha 45
348 Sharpedo 70
349 SharpedoMega Sharpedo 70
350 Wailmer 130
351 Wailord 170
352 Numel 60
353 Camerupt 70
354 CameruptMega Camerupt 70
355 Torkoal 70
356 Spoink 60
357 Grumpig 80
358 Spinda 60
359 Trapinch 45
360 Vibrava 50
361 Flygon 80
362 Cacnea 50
363 Cacturne 70
364 Swablu 45
365 Altaria 75
366 AltariaMega Altaria 75
367 Zangoose 73
368 Seviper 73
369 Lunatone 70
370 Solrock 70
371 Barboach 50
372 Whiscash 110
373 Corphish 43
374 Crawdaunt 63
375 Baltoy 40
376 Claydol 60
377 Lileep 66
378 Cradily 86
379 Anorith 45
380 Armaldo 75
381 Feebas 20
382 Milotic 95
383 Castform 70
384 Kecleon 60
385 Shuppet 44
386 Banette 64
387 BanetteMega Banette 64
388 Duskull 20
389 Dusclops 40
390 Tropius 99
391 Chimecho 65
392 Absol 65
393 AbsolMega Absol 65
394 Wynaut 95
395 Snorunt 50
396 Glalie 80
397 GlalieMega Glalie 80
398 Spheal 70
399 Sealeo 90
400 Walrein 110
401 Clamperl 35
402 Huntail 55
403 Gorebyss 55
404 Relicanth 100
405 Luvdisc 43
406 Bagon 45
407 Shelgon 65
408 Salamence 95
409 SalamenceMega Salamence 95
410 Beldum 40
411 Metang 60
412 Metagross 80
413 MetagrossMega Metagross 80
414 Regirock 80
415 Regice 80
416 Registeel 80
417 Latias 80
418 LatiasMega Latias 80
419 Latios 80
420 LatiosMega Latios 80
421 Kyogre 100
422 KyogrePrimal Kyogre 100
423 Groudon 100
424 GroudonPrimal Groudon 100
425 Rayquaza 105
426 RayquazaMega Rayquaza 105
427 Jirachi 100
428 DeoxysNormal Forme 50
429 DeoxysAttack Forme 50
430 DeoxysDefense Forme 50
431 DeoxysSpeed Forme 50
432 Turtwig 55
433 Grotle 75
434 Torterra 95
435 Chimchar 44
436 Monferno 64
437 Infernape 76
438 Piplup 53
439 Prinplup 64
440 Empoleon 84
441 Starly 40
442 Staravia 55
443 Staraptor 85
444 Bidoof 59
445 Bibarel 79
446 Kricketot 37
447 Kricketune 77
448 Shinx 45
449 Luxio 60
450 Luxray 80
451 Budew 40
452 Roserade 60
453 Cranidos 67
454 Rampardos 97
455 Shieldon 30
456 Bastiodon 60
457 Burmy 40
458 WormadamPlant Cloak 60
459 WormadamSandy Cloak 60
460 WormadamTrash Cloak 60
461 Mothim 70
462 Combee 30
463 Vespiquen 70
464 Pachirisu 60
465 Buizel 55
466 Floatzel 85
467 Cherubi 45
468 Cherrim 70
469 Shellos 76
470 Gastrodon 111
471 Ambipom 75
472 Drifloon 90
473 Drifblim 150
474 Buneary 55
475 Lopunny 65
476 LopunnyMega Lopunny 65
477 Mismagius 60
478 Honchkrow 100
479 Glameow 49
480 Purugly 71
481 Chingling 45
482 Stunky 63
483 Skuntank 103
484 Bronzor 57
485 Bronzong 67
486 Bonsly 50
487 Mime Jr. 20
488 Happiny 100
489 Chatot 76
490 Spiritomb 50
491 Gible 58
492 Gabite 68
493 Garchomp 108
494 GarchompMega Garchomp 108
495 Munchlax 135
496 Riolu 40
497 Lucario 70
498 LucarioMega Lucario 70
499 Hippopotas 68
500 Hippowdon 108
501 Skorupi 40
502 Drapion 70
503 Croagunk 48
504 Toxicroak 83
505 Carnivine 74
506 Finneon 49
507 Lumineon 69
508 Mantyke 45
509 Snover 60
510 Abomasnow 90
511 AbomasnowMega Abomasnow 90
512 Weavile 70
513 Magnezone 70
514 Lickilicky 110
515 Rhyperior 115
516 Tangrowth 100
517 Electivire 75
518 Magmortar 75
519 Togekiss 85
520 Yanmega 86
521 Leafeon 65
522 Glaceon 65
523 Gliscor 75
524 Mamoswine 110
525 Porygon-Z 85
526 Gallade 68
527 GalladeMega Gallade 68
528 Probopass 60
529 Dusknoir 45
530 Froslass 70
531 Rotom 50
532 RotomHeat Rotom 50
533 RotomWash Rotom 50
534 RotomFrost Rotom 50
535 RotomFan Rotom 50
536 RotomMow Rotom 50
537 Uxie 75
538 Mesprit 80
539 Azelf 75
540 Dialga 100
541 Palkia 90
542 Heatran 91
543 Regigigas 110
544 GiratinaAltered Forme 150
545 GiratinaOrigin Forme 150
546 Cresselia 120
547 Phione 80
548 Manaphy 100
549 Darkrai 70
550 ShayminLand Forme 100
551 ShayminSky Forme 100
552 Arceus 120
553 Victini 100
554 Snivy 45
555 Servine 60
556 Serperior 75
557 Tepig 65
558 Pignite 90
559 Emboar 110
560 Oshawott 55
561 Dewott 75
562 Samurott 95
563 Patrat 45
564 Watchog 60
565 Lillipup 45
566 Herdier 65
567 Stoutland 85
568 Purrloin 41
569 Liepard 64
570 Pansage 50
571 Simisage 75
572 Pansear 50
573 Simisear 75
574 Panpour 50
575 Simipour 75
576 Munna 76
577 Musharna 116
578 Pidove 50
579 Tranquill 62
580 Unfezant 80
581 Blitzle 45
582 Zebstrika 75
583 Roggenrola 55
584 Boldore 70
585 Gigalith 85
586 Woobat 55
587 Swoobat 67
588 Drilbur 60
589 Excadrill 110
590 Audino 103
591 AudinoMega Audino 103
592 Timburr 75
593 Gurdurr 85
594 Conkeldurr 105
595 Tympole 50
596 Palpitoad 75
597 Seismitoad 105
598 Throh 120
599 Sawk 75
600 Sewaddle 45
601 Swadloon 55
602 Leavanny 75
603 Venipede 30
604 Whirlipede 40
605 Scolipede 60
606 Cottonee 40
607 Whimsicott 60
608 Petilil 45
609 Lilligant 70
610 Basculin 70
611 Sandile 50
612 Krokorok 60
613 Krookodile 95
614 Darumaka 70
615 DarmanitanStandard Mode 105
616 DarmanitanZen Mode 105
617 Maractus 75
618 Dwebble 50
619 Crustle 70
620 Scraggy 50
621 Scrafty 65
622 Sigilyph 72
623 Yamask 38
624 Cofagrigus 58
625 Tirtouga 54
626 Carracosta 74
627 Archen 55
628 Archeops 75
629 Trubbish 50
630 Garbodor 80
631 Zorua 40
632 Zoroark 60
633 Minccino 55
634 Cinccino 75
635 Gothita 45
636 Gothorita 60
637 Gothitelle 70
638 Solosis 45
639 Duosion 65
640 Reuniclus 110
641 Ducklett 62
642 Swanna 75

643 Vanillite 36
644 Vanillish 51
645 Vanilluxe 71
646 Deerling 60
647 Sawsbuck 80
648 Emolga 55
649 Karrablast 50
650 Escavalier 70
651 Foongus 69
652 Amoonguss 114
653 Frillish 55
654 Jellicent 100
655 Alomomola 165
656 Joltik 50
657 Galvantula 70
658 Ferroseed 44
659 Ferrothorn 74
660 Klink 40
661 Klang 60
662 Klinklang 60
663 Tynamo 35
664 Eelektrik 65
665 Eelektross 85
666 Elgyem 55
667 Beheeyem 75
668 Litwick 50
669 Lampent 60
670 Chandelure 60
671 Axew 46
672 Fraxure 66
673 Haxorus 76
674 Cubchoo 55
675 Beartic 95
676 Cryogonal 70
677 Shelmet 50
678 Accelgor 80
679 Stunfisk 109
680 Mienfoo 45
681 Mienshao 65
682 Druddigon 77
683 Golett 59
684 Golurk 89
685 Pawniard 45
686 Bisharp 65
687 Bouffalant 95
688 Rufflet 70
689 Braviary 100
690 Vullaby 70
691 Mandibuzz 110
692 Heatmor 85
693 Durant 58
694 Deino 52
695 Zweilous 72
696 Hydreigon 92
697 Larvesta 55
698 Volcarona 85
699 Cobalion 91
700 Terrakion 91
701 Virizion 91
702 TornadusIncarnate Forme 79
703 TornadusTherian Forme 79
704 ThundurusIncarnate Forme 79
705 ThundurusTherian Forme 79
706 Reshiram 100
707 Zekrom 100
708 LandorusIncarnate Forme 89
709 LandorusTherian Forme 89
710 Kyurem 125
711 KyuremBlack Kyurem 125
712 KyuremWhite Kyurem 125
713 KeldeoOrdinary Forme 91
714 KeldeoResolute Forme 91
715 MeloettaAria Forme 100
716 MeloettaPirouette Forme 100
717 Genesect 71
718 Chespin 56
719 Quilladin 61
720 Chesnaught 88
721 Fennekin 40
722 Braixen 59
723 Delphox 75
724 Froakie 41
725 Frogadier 54
726 Greninja 72
727 Bunnelby 38
728 Diggersby 85
729 Fletchling 45
730 Fletchinder 62
731 Talonflame 78
732 Scatterbug 38
733 Spewpa 45
734 Vivillon 80
735 Litleo 62
736 Pyroar 86
737 Flabébé 44
738 Floette 54
739 Florges 78
740 Skiddo 66
741 Gogoat 123
742 Pancham 67
743 Pangoro 95
744 Furfrou 75
745 Espurr 62
746 MeowsticMale 74
747 MeowsticFemale 74
748 Honedge 45
749 Doublade 59
750 AegislashBlade Forme 60
751 AegislashShield Forme 60
752 Spritzee 78
753 Aromatisse 101
754 Swirlix 62
755 Slurpuff 82
756 Inkay 53
757 Malamar 86
758 Binacle 42
759 Barbaracle 72
760 Skrelp 50
761 Dragalge 65
762 Clauncher 50
763 Clawitzer 71
764 Helioptile 44
765 Heliolisk 62
766 Tyrunt 58
767 Tyrantrum 82
768 Amaura 77
769 Aurorus 123
770 Sylveon 95
771 Hawlucha 78
772 Dedenne 67
773 Carbink 50
774 Goomy 45
775 Sliggoo 68
776 Goodra 90
777 Klefki 57
778 Phantump 43
779 Trevenant 85
780 PumpkabooAverage Size 49
781 PumpkabooSmall Size 44
782 PumpkabooLarge Size 54
783 PumpkabooSuper Size 59
784 GourgeistAverage Size 65
785 GourgeistSmall Size 55
786 GourgeistLarge Size 75
787 GourgeistSuper Size 85
788 Bergmite 55
789 Avalugg 95
790 Noibat 40
791 Noivern 85
792 Xerneas 126
793 Yveltal 126
794 Zygarde50% Forme 108
795 Diancie 50
796 DiancieMega Diancie 50
797 HoopaHoopa Confined 80
798 HoopaHoopa Unbound 80
799 Volcanion 80

In [94]:
#Filtering specifically, we can use df.loc[df['Name']== 'heading'] or simply df[df['Name'] == 'Title']

df.loc[df['Type 1']=='Fire']

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,1
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False,1
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False,1
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False,1
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False,1
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False,1
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False,1
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False,1
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,1
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False,1
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False,1
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False,1
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False,1
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False,1
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False,1
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True,1
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,1
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False,1
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False,1
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False,1
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False,1
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False,1
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False,1
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False,1
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False,1
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False,1
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False,1
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False,1
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False,1
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True,1
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False,1
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False,1
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False,1
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False,1
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False,1
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False,1
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False,1
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,1
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False,1
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False,1
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False,1
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False,1
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False,1
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False,1
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,1
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1

In [13]:
df.loc[(df['Type 1']== 'Dragon') & (df['Attack']>100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
408,373,Salamence,Dragon,Flying,95,135,80,110,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
493,445,Garchomp,Dragon,Ground,108,130,95,80,85,102,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
672,611,Fraxure,Dragon,NaN,66,117,70,40,50,67,5,False
673,612,Haxorus,Dragon,NaN,76,147,90,60,70,97,5,False
682,621,Druddigon,Dragon,NaN,77,120,90,60,90,48,5,False
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True

In [14]:
#Gives all the statistical information of a dataset
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Sorting values

In [15]:
#Sorts names in alphabetical order if ascending = True else in descending order if ascending = false
df.sort_values('Name',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [16]:
#Soring Attacks in decreasing order
df.sort_values('Attack',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [17]:
#Now, Soring both Attack and Defense highest in only bug type pokemon
bug_df = df[df['Type 1']=='Bug']
bug_df.sort_values(['Attack','Defense'],ascending=[1,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False

# Changing Values and Adding Columns

In [18]:
#First we located the numeric content and indexed the numeric content required and added to get total
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [19]:
#Here we created a list of columns and added by indexing them to obtain data frame with columns interchanged
cols = list(df.columns)
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Saving this New Dataset

In [20]:
df.to_csv('Mod_data.csv')

# Filtering data

In [21]:
#here we can see the indexes are not correct so we can change the index by taking this to a new data set and resetting index
new_df = df[(df['Type 1']=='Electric') & (df['Legendary']==True) & (df['Attack']>10)]
new_df = new_df.reset_index()

In [22]:
#We used the reset index funciton to reset the index of this new data frame
new_df

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
1,262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
2,704,642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
3,705,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True

In [23]:
#Filtering the names which contain mega
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [24]:
#Fire or Grass
df.loc[(df['Type 1']=='Fire') | (df['Type 1']== 'Grass')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
#Easier way is to use the Re function
import re
df[df['Type 1'].str.contains('Fire|Grass',regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
#Changed the name of Fire type to Flamer
df.loc[df['Type 1']=='Flamer', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
#renamed the name of column to Dex Number
df.rename(columns={'#':'Dex Number'},inplace=True)
df

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Aggregate Statistics using Groupby Function

In [28]:
#We use groupby function to get the statistical values of various groups.Here we see all the values of all groups of pokemon
df.groupby(['Type 1']).mean()

,Dex Number,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [29]:
#Now we sort this data based on a factor of HP and Attack
df.groupby(['Type 1']).mean().sort_values(['Attack','HP'],ascending=[1,1])

,Dex Number,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000

In [35]:
df[df['Total']>700]

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True

In [41]:
df

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [50]:
df.max()

Dex Number                 721
Name          Zygarde50% Forme
Type 1                   Water
Total                      780
HP                         255
Attack                     190
Defense                    230
Sp. Atk                    194
Sp. Def                    230
Speed                      180
Generation                   6
Legendary                 True
dtype: object

In [56]:
df['count']=1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [60]:
#Seeing the Number of type 1 and type 2 pokemon
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [76]:
df[df['Legendary']==True]

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,1
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,1
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,1
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,1
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1

In [79]:
df

,Dex Number,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1

In [87]:
#Accessing the last ten rows and first 2 columns
df.iloc[-10:,0:2]

     Dex Number                 Name
790         714               Noibat
791         715              Noivern
792         716              Xerneas
793         717              Yveltal
794         718     Zygarde50% Forme
795         719              Diancie
796         719  DiancieMega Diancie
797         720  HoopaHoopa Confined
798         720   HoopaHoopa Unbound
799         721            Volcanion